<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/shop-homepage.css" rel="stylesheet">
</head>
<body class="bg-light"> 
    <%- include('../partials/headerPrueba') %>

    <div>
         
        <div class="container mg-tb-2 marg-top2">

          <div class="row">
            
              <div class="col-md-4 mb-4 mg-10 stick-topBig stick-topMed stick-topBigger ptop">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-muted">Your cart</span>
                  <span class="badge badge-secondary badge-pill"><%= productos.length %></span>
                </h4>
                <ul class="list-group mb-3">

                  <% for (let product of productos) { %>

                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h6 class="my-0"><%= product.name %></h6>
                      <small class="text-muted"> x<%= product.cantidad %></small>
                    </div>
                    <span class="text-muted">$<%= product.price %></span>
                  </li>

                  <% } %>  
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h6 class="my-0">Total</h6>
                    
                    </div>
                    <span class="text-muted">$<%= totalCarrito %></span>
                  </li>
                </ul>
              </div>
           
            <h1 class="mleft">Resumen de tus Productos</h1>

              <% for (let product of productos) { %>

          
            <div class="col-lg-8 col-md-6 mb-4">
              <form action="/cart/delete/<%= product.id %> " method="POST">
                <div class="card">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                  <a href="#"><img class="card-img" style="height: 100%;" src="/images/<%= product.image %>" alt=""></a>
                     </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#"> <%= product.name %>  </a>
                    </h4>
                    <h5>$ <%= product.priceOriginal %> </h5>
                    <p style="float: left;" class="card-text"> <%= product.description %> </p> 
                    <div class="d-flex justify-content-end">
                      <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </div>
                  </div>
                </div>
              </div>
                </div>
              </form>
            </div>            
          
            <% } %>  

          </div>
          <a href="/cart/payment"><button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button></a>
        </div>
<script src="/javascripts/cantidadCarrito.js"></script>
<%- include('../partials/footerPrueba') %>
</body>
</html>