<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Document</title>
</head>

<body>
   
<div class="d-flex justify-content-between m-4">
    
    <h2>Productos</h2> 
    <form action="/admin/historial" method="POST">
    <div  style="width: 137%; height: 30%;" class="input-group ">
        
                        <input id="searchBuscador" type="text" name="usuarioBuscado"  placeholder="Buscar usuario por email"
                            class="form-control " autocomplete="off" required>

                        <div class="input-group-append">
                             <span id="anchoSearch"
                                class="input-group-text d-flex justify-content-center align-items-center">
                                <button type="submit" style="all: unset; cursor: pointer;"> <i class="fas fa-search d-flex justify-content-center align-items-center"></i></button>
                            </span>
                        </div>

                    
                    </div>
                </form>
                <div>
    <a href="http://localhost:3000/admin/alta"><button type="menu" class="btn btn-success">Añadir producto</button></a>
    <a href="http://localhost:3000/"><button type="menu" class="btn btn-info">Volver al Inicio</button></a>
    
</div>
</div>

    <table class="table">
        
        <thead>
            <tr>
                <th scope="col">id</th>
                <form action="/admin">
                <th scope="col" style="width: 23%;">Nombre<div  class="input-group " style="width: 211px;display: inline-flex;margin-left:22px; ">
        
                    <input type="text" class="form-control " placeholder="Filtrar por nombre" style="height: 28px;"  name="producto" id="">
        
                    <div class="input-group-append">
                         <span id="anchoSearch"
                            class="input-group-text d-flex justify-content-center align-items-center">
                            <button type="submit" style="all: unset; cursor: pointer;"> <i style="font-size: 14px;" class="fas fa-search d-flex justify-content-center align-items-center"></i></button>
                        </span>
                    </div>
        
                
                </div>  </th>
            </form>
                <th scope="col">Precio</th>
                <th scope="col">Oferta</th>
                <th scope="col">Precio oferta</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
                
              

            </tr>
        </thead>
        <tbody>

            <% productos.forEach(function(producto){ %>

            <tr>
                <th scope="row"><%= producto.id %> </th>
                <td><%= producto.name %></td>
                <td>$<%= toThousand(producto.price) %></td>
                <td><%= producto.offer %> </td>
                <td>$<%= producto.newprice %> </td>
                <td><%= producto.category %></td>
                <td>... </td>
                <td> <a href="http://localhost:3000/admin/edit/<%= producto.id %> "> <button >editar</button></a> </td>
               <form action="/admin/delete/<%= producto.id %>?_method=DELETE " method="POST">
                <td> <a > <button >borrar</button></a> </td>
            </form>
            </tr>

            <% }) %>

        </tbody>
    </table>










    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>